*{
    box-sizing: border-box;
    text-align: center;
    
}
.main-img{
    width: 80%;
}
header{
    background-color: #ebe5e5;
}
h1{
    margin: 0px;
    padding: 14px;
}
.navbar{
    list-style-type: none;
    background-color: whitesmoke;
    font-weight: bold;
    margin: 20px 10px;
    padding: 5px 0px 5px 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
@media (min-width:768px){
    .navbar{
        display: inline;
        background-color: inherit;
        padding: 0px 10px;
    }
    .main-img{
        float: right;
        width: 40%;
    }
    .clearfix{
        clear: both;
    }
}

@media (min-width:1024px){
    header{
        position: absolute;
    }
    h1{
        float: left;
        position: relative;
    }
    .navbar-desktop{
        position: relative;
        float: right;
        top: 30px;
    }
    .main-img{
        float: right;
        width: 40%;
    }
    .clearfix{
        clear: both;
    }
}